* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: 'Trebuchet MS', "Helvetica", sans-serif;
    background-color: #e6e6e6;
}

#menu  {
    background: #f6b700;
    padding: 15px;
    text-align: center;
}

#titulo  {
    padding: 15px;
    color: #4e4e4e;
    font-size: 2.5em;
}

#menu,#area_menu  {
    padding: 10px;
}

.branco  {
    color: white;
}

a  {
    text-decoration: none;
}

a:link, a:visited {
	color: #f7b600;
}

a:hover {
	text-decoration: underline;
}

#area_menu a:link, #area_menu a:visited  {
    color: white;
    padding: 8px 12px;
}

#area_menu a:hover  {
    background: white;
    color: #f6b700;
    text-decoration: none;
}

#area_noticias  {
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

#area_meio  {
    width: 660px;
    float: left;
}

h2  {
    color: #f7b600;
}

.data  {
    font-size: 0.8em;
    border-bottom: 1 px solid #f4f4f4 ;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}

.postagem  {
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
}

#area_lateral  {
    width: 240px;
    float: right;
}

h3 {
	color: #565656;
	background: #CCC;
	padding: 5px;
}

.conteudo_lateral  {
    background: white;
	padding: 10px;
	margin-bottom: 20px;
}

.postagem_lateral {
	font-size: 0.8em;
	padding: 5px;
}

#rodape  {
    background-color: #ccc;
    clear: both;
    padding: 15px;
    text-align: center;
}